@use './utilities/variables';
@use './layout';
@use './content';

* {
    margin: 0;
    padding: 0;

    background: variables.$border-dark;
    color:variables.$primary-light
}

body {
    height: 100vh;
}
